* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.Banner {
  background: url(./images/bg.jpg)no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  position: relative;
}

.banner-content {
  display: flex;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;

}

.banner-text {
  width: 500px;
}

.banner-text h3 {
  font-size: 50px;
}

.banner-text h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 800;
  margin-top: 20px;
}

.banner-text p {
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
}

.navbar {
  position: absolute;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-text {
  display: flex;
  height: 60px;
  align-items: center;
  width: 1200px;
  margin: 0px auto;
}

.logo {
  width: 40%;
}

.logo img {
  max-width: 220px;
}

.navbar-ul {
  width:100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-ul li{
  margin: 0px 16px;
}
.navbar-ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  font-weight: 800;
  font-size: 15px;
}

.banner-btn {
  margin-top: 30px;
}

.btn {
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.btn-smart {
  background: #ff454f;
}

.about {
  padding: 80px 0px;
}

.row {
  display: flex;

  width: 100%;
}

.col-6 {
  width: 50%;
}

.p-25 {
  padding: 45px;
}

.about h3 {
  color:
    #666666;
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700;
}

.about h1 {
  font-size: 40px;
  color: #252525;
  line-height: 40px;
  margin-bottom: 15px;
  font-weight: 700;
}

.about p {
  color:
    #989fae;
  font-size: 18px;
  font-weight: 300;

}

.about-btn {
  margin-top: 35px;
}

.about-img {
  width: 100%;
  overflow: hidden;
}

.about-img img {
  width: 100%;
}

.shop {
  width: 100%;
  background: url(../src/images/freedelivery-bg.jpg) no-repeat;
  height: 450px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
}

.shop-text {
  height: 450px;
  display: flex;
  align-items: center;
  width: 400px;
  color: #fff;
  justify-content: center;
  margin: 0 auto;
  text-align: center;

}

.shop-text h4 {
  font-size: 30px;
  color: #ffffff;
  line-height: 35px;
  text-align: center;

  font-weight: 700;
  font-style: normal;
}

.shop-text h1 {
  font-size: 40px;
  color: #ffffff;
  line-height: 40px;
  text-align: center;

  font-weight: 700;
  font-style: normal;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}

.shop-text h5 {
  font-size: 30px;
  color: #ffffff;
  line-height: 35px;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 44px !important;
}

.shop-btn {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu {
  display: flex;
  align-items: center;
  min-height: 500px;
}

.menu-img {
  width: 100%;
  overflow: hidden;
}

.menu-img img {
  width: 100%;
}

.menu h3 {
  font-size: 30px;
  color: rgba(37, 37, 37, 0.7);
  line-height: 35px;
  text-align: left;

  font-weight: 700;
  font-style: normal;

}

.menu h1 {
  font-size: 40px;
  color: #252525;
  line-height: 40px;
  text-align: left;

  font-weight: 700;
  font-style: normal;
  margin: 20px 0px;
}

.menu p {
  font-size: 18px;
  line-height: 29px;
  font-family: Nunito;
  color: #8b8b8b;
}

.client {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-height: 250px;
  background: #252525;
}

.client-text {
  color: #fff;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.client-text span {
  display: block;
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 10px;
  text-align: center;
}

.client p {
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  line-height: 24px;
  margin-bottom: 0;
  opacity: .5;
  text-align: center;
  text-transform: capitalize;
}

.delivery {
  display: flex;
  align-items: center;
  background: url(../src/images/contact-bg.jpg)no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.delivery-form {
  max-width: 48%;
  display: block;
  padding: 60px 0px;
}

.form-title h3 {
  font-size: 30px;
  color: rgba(37, 37, 37, 0.7);
  line-height: 35px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
}

.form-title h1 {
  font-size: 40px;
  color: #252525;
  font-weight: 700;
  font-style: normal;
  margin: 20px 0px;
  max-width: 300px;
  line-height: 50px;

}

.form-title p {
  font-size: 18px;
  line-height: 29px;
  color: #8b8b8b;

}

form {
  margin-top: 30px;
  color: #8a8a8a !important;
}

.d-flex {
  display: flex;
  gap: 23px;
}

input,
select {
  font-size: 16px;
  width: 292px;
  margin: 12px 1px;
  border: 1px solid rgba(37, 37, 37, .3);
  border-radius: 30px;
  font-weight: 600;
  margin: 10px 0;
  opacity: .9;
  padding: 1em 1.5em;
  transition: all .3s ease-in-out 0s !important;
  width: 100%;
  outline: 0;
}

.address,
select {
  width: 100%;
  color: #8a8a8a;
}

select {
  cursor: pointer;
}

.form-btn {
  margin-top: 20px;
}

.form-btn .btn {
  padding: 20px 235px;
}

.PizzaMenu {
  background: url(./images/Rectangle\ 1.png)no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  min-height: 990px;
  flex-direction: column;
  color: #fff;
}

.PizzaMenu-title {
  text-align: center;
  margin-top: 6rem;

}

.PizzaMenu-item {
  display: flex;
  align-items: center;
  /* min-height: 100vh; */
  padding: 30px 0px;
  border-bottom: 2px dashed;
  margin: 50px 0px;
}

.Pizza-img img {
  max-width: 150px;
  display: block;
  margin-right: 20px;
}

.PizzaMenu-item .Pizza-details h1 {
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 700;
}

.Pizza-details p {
  font-size: 18px;
  line-height: 29px;
}

.Pizza-price h3 {
  display: block;
  font-size: 40px;
  margin-top: 31px;
}

.Pizzamenuitem {
  display: flex;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  background: url(./images/fastfood.jpg)no-repeat;
  background-size: cover;

}

.Pizzamenuitem .PizzaMenu-title h3 {
  font-size: 30px;
  color: rgba(37, 37, 37, 0.7);
  line-height: 35px;

  font-weight: 700;
  font-style: normal;
}

.Pizzamenuitem .PizzaMenu-title h1 {
  font-size: 38px;
  color: #252525;
  line-height: 40px;
  margin-top: 20px !important;
  font-weight: 700;
  font-style: normal;
}

.Pizzamenuitem .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

}

.Pizza-item {
  max-width: 350px;
  margin: 40px 0px;
}

.pizza-item-img img {
  max-width: 250px;
  margin: auto;
}

.Pizzamenuitem .Pizza-item h1 {
  line-height: 1.1;
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

.Pizzamenuitem .Pizza-item p {
  font-size: 18px;
  line-height: 29px;
  color: #888;
  font-weight: 300;
  margin: 0 0 10px;
}

.Pizza-item h3 {
  font-size: 40px;
  line-height: 1.42857143;
  color: #333;
}

.Footer {
  background: #252525;
  min-height: 500px;
  display: flex;
  align-items: center;
  color: #fff;
}

.Footer-about {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.Footer-text {
  max-width: 50%;
}

.Footer-text h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;
}

.Footer-text p {
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  padding-top: 3px;
  margin: 0 0 10px;
  max-width: 79%;
  text-align: justify;
}

.Footer-text span {
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  padding-top: 3px;
  margin: 0 0 10px;
}

.link {
  max-width: 200px;
}

.link h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;
}

.link ul li {
  text-align: left;
  width: 100%;
  padding: 5px 0;
  display: inline-block;
}

.link ul li a {
  margin-left: 0;
  font-size: 14px;
  color: #fff !important;
  opacity: 1;
  text-decoration: none;
}

.link ul {
  position: relative;
}

.link ul li::before {
  content: ">";
  position: absolute;
  left: -15px;
  /* top: 10px; */
  margin-top: 2px;
}

.last-link ul li::before {
  content: none;
}

.last-link ul li i {
  font-size: 13px;
  margin-right: 7px;

}

.link li a:hover {
  color: #ff454f !important;

}

.social-icon {
  display: flex;
  /* justify-content: center; */
  margin: auto;
  gap: 24px;
  margin-top: 6px;

}

.social-icon i {
  margin: 4px 0px;
  font-size: 20px;
}

.social-icon i:hover {
  color: #ff454f;
  cursor: pointer;
}

.copy-right {
  background: #252525;
  color: #fff;

}

.text {
  text-align: center;
  padding: 20px 0px;
  border-top: 1px solid red;
}

/*  */
@media only screen and (max-width : 768px) {
  .banner-content {
    display: block;
    
    padding: 20px 25px;

  }

  .banner-text {
    max-width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10rem;
  }

  .about {
    width: 100%;
    display: block;
  }

  .row {
    display: block;
  }

  .col-6 {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .banner-text h3 {
    font-size: 46px;
  }

  .banner-text h1 {
    font-size: 65px;
    line-height: 80px;
    font-weight: 800;
    margin-top: 20px;
  }

  .banner-text p {
    font-size: 23px;
    font-weight: 400;
    margin-top: 20px;
  }

  .Pizzamenuitem {
    display: block;
  }
  .shop-text {
    display: block;
    padding-top: 35px;
    width: 100%;
  }
  .shop-text h4 {
    font-size: 23px;
    
}
.shop-text h1 {
  font-size: 34px;
 
}
.shop-text h5 {
  font-size: 23px;
  
}

  .menu {
    display: block;
  }

  .client {
    display: block;
    max-width: 100%;
  }

  .client-text {
    display: block;
    padding: 30px 0px;
  }

  .employees {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .delivery {
    display: block;
    padding: 20px 25px;

  }

  .delivery-form {
    max-width: 100%;
  }

  .form-btn .btn {
    padding: 20px 40px;
  }

  .PizzaMenu {
    display: block;
  }

  .PizzaMenu-item {
    display: block;
    margin: auto;
  }

  .PizzaMenu-title {
    padding-top: 4rem;
  }

  .Pizza-img img {
    max-width: 100%;
    margin: auto;
  }

  .Pizza-details,
  .Pizza-price {
    margin: auto;
    max-width: 100%;
    text-align: center;
  }

  .Pizza-item {
    max-width: 100%;
  }

  .Footer {
    display: block;
    max-width: 100%;
    padding: 26px 20px;


  }

  .Footer-about {
    display: block;
    margin-left: 25px;
  }

  .Footer-text {
    max-width: 100%;
  }

  .link {
    max-width: 100%;

    margin-top: 33px;
  }
  .text {
   
    padding: 20px 6px;
  
}
}
html{
  font-size: 62.5%;
}

.main-nav{
  width: 100%;
  height: 10rem;
display: flex;
align-items: center;
justify-content: space-around;
}
.menu-link{
  display: flex;
  align-items: center;
}
.main-nav ul li{
display: inline-block;
margin: 3px 40px;
}

.menu-link a{
  text-decoration: none;
  font-size: 19px;
}
.hamburger-menu{
  display: none;
}
@media only screen and (max-width : 768px) {
  .navbar-ul{
    display: none;
  }
  .hamburger-menu{
    display: block;
    position: absolute;
    right: 12px;
    font-size: 20px;
    top: 20px;
    color: #fff;
  }
  
  .navbar-mobile{
    display: block;
    width: 100%;
    height: auto;
  }
  .navbar-text {
width: 100%;
   
}
}